
@{
    ViewBag.Title = "FullPaymentCollection";
    Layout = "~/Views/Shared/AdminLayoutPage.cshtml";
}

@using System.Data;
<div class="container">
    <div class="card border-0 shadow-lg mb-4">
        <div class="card-header bg-primary pl-3 pb-0">
            <h5 class="h5 text-white font-weight-bold mb-4">Full Payment Details</h5>
        </div>
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-1 d-none d-lg-block"></div>
                <div class="col-lg-10">
                    <div class="p-3">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Project Name</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                        <option value="Site 1">Site 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Block No</label>
                                    <select class="form-control">
                                        <option value="Select">Select</option>
                                        <option selected="selected" value="3">SECTOR-B</option>
                                        <option value="4">SECTOR-C</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Plot No</label>
                                    <select class="form-control">
                                        <option value="">Select</option>
                                        <option value="">A</option>
                                        <option value="">D</option>
                                        <option value="">c</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label>Booking ID</label>
                                    <input type="text" class="form-control" readonly />
                                </div>
                            </div>
							<div class="form-group row">
								<div class="col-sm-6">
									<label> Manual Reciept No</label>
									<input type="text" class="form-control" />
								</div>
								<div class="col-sm-6">
									<label>Customer ID</label>
									<input type="text" class="form-control" readonly />
								</div>
								<div class="col-sm-6">
									<label>Customer Name</label>
									<input type="text" class="form-control" readonly />
								</div>
								<div class="col-sm-6">
									<label> Date :</label>
									<input type="date" class="form-control" />
								</div>
								<br />
								<div class="col-sm-4 pt-4 pb-2">
									<label>Project Name: </label>

								</div>
								<div class="col-sm-4 pt-4 pb-2">
									<label>Block No: </label>
								</div>
								<div class="col-sm-4 pt-4 pb-2">
									<label> Plot No: </label>

								</div>
								<div class="col-sm-6">
									<label>Payment Type</label>
									<select class="form-control">
										<option value="">Select</option>
										<option value="">Full Payment Amount</option>

									</select>
								</div>
								<div class="col-sm-6">
									<label>Payble Amount</label>
									<input class="form-control" />
								</div>
							</div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label>Paid Amount</label>
                                    <input class="form-control" readonly />
                                </div>

                                <div class="col-sm-6">
                                    <label>Pay Mode</label>
                                    <select class="form-control">
                                        <option selected="selected" value="customer discount">customer discount</option>
                                        <option value="Cheque">Cheque</option>
                                        <option value="DD">DD</option>
                                        <option value="NEFT/RTGS">NEFT/RTGS</option>
                                        <option value="CARD">CARD</option>
                                        <option value="Cash Credit in A/C">Cash Credit in A/C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block" id="btn_addAgent" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-1 d-none d-lg-block"></div>
            </div>
        </div>
    </div>
</div>