
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero page-inner overlay" style="background-image: url('/HomeAssets/images/hero_bg_3.jpg')">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-9 text-center mt-5">
				<h1 class="heading aos-init aos-animate" data-aos="fade-up">Projects</h1>

				<nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate">
					<ol class="breadcrumb text-center justify-content-center">
						<li class="breadcrumb-item"><a href="../">Home</a></li>
						<li class="breadcrumb-item active text-white-50" aria-current="page">
							Projects
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="container mt-lg-5">
	<div class="row mb-3 mt-3">
		<div class="h3 text-secondary">Our Projects</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="property-item mb-30">
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-A</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-B</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-C</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-D</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-E</div>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
						<div class="badge bg-success p-3 w-50" style="font-size: 18px">SECTOR-F</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>